$white: #fff;
$russian-violet: #4D194D;
$midnight-green-eagle-green: #0B525B;
$skobeloff: #212F45;
$prussian-blue: #212F45;
$zero: 0;
body{
    margin: $zero;
    padding: 0;

    height: 100vh;

    background-color: $midnight-green-eagle-green;
    font-family: Verdana,Geneva,sans-serif;

    @media(min-width: 1000px){
        background-color: $white;
    }

    .whiteboard-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-around;
        .whiteboard{
            position: relative;
            margin: 10% 0 0;
            width: 90%;
            height: 90vh; 

            border-radius: 2.5%;
            background-color: rgba(255, 255, 255, .7);

            @media(min-width: 1000px){
                margin: 0;
                width: 100%;
                background-color: transparent;
            }

            .arrow-wrapper{
                width: 70vw;
                height: 20vw;
                .arrow-icon {
                    width: 10vw;
                    height: 15vw;
                    background-color: transparent;
                    display:block;
                    padding: 0.5vw;
                    margin: 0 3vw 0;
                    position: relative;
                    cursor: pointer;
                    border-radius: 4px;
                    z-index: 2;
                }
                
                .left-bar {
                    position: absolute;
                    background-color: transparent;
                    bottom: 32%;
                    width: 5vw;
                    height: 1.1vw;
                    display: block;
                    transform: rotate(-130deg);
                    float: right;
                    border-radius: .1vw;
                    &:after {
                    content:"";
                    background-color: white;
                    width: 7vw;
                    height: 1.1vw;
                    display: block;
                    float: right;
                    border-radius: .1vw;
                    }
                }
                
                
                .right-bar {
                    position: absolute;
                    background-color: transparent;
                    top: 44%;
                    left: 7%;
                    width: 5vw;
                    height: 1.1vw;
                    display: block;
                    transform: rotate(-220deg);
                    float: right;
                    border-radius: .1vw;
                    &:after {
                    content:"";
                    background-color: white;
                    width: 7vw;
                    height: 1.1vw;
                    display: block;
                    float: right;
                    border-radius: .1vw;
                    }
                }
            }

            .home-nav{
                position: absolute;
                width: 20%;
                top: 5%;
                left: 5%;
                color: $midnight-green-eagle-green;
                font-size: 4vw;
                text-decoration: none;

                &:focus{
                    text-decoration: underline;
                }
            }
        
            .date-time-wrapper{
                position: absolute;
                top: 0;
                display: flex;
                flex-flow: nowrap column;
                align-items: end;
                
                z-index: 1;

                @media(min-width: 1000px){
                }
                .date{
                    margin: 5% 0 0;
                    width: 46%;

                    color: $russian-violet;
                    font-size: 4.5vw;
                    text-align: center;

                    span{
                        &:nth-child(1){
                            padding-left: 6%;
                        }
                        &:nth-child(2){
                            padding-left: 0%;
                            font-size: 3vw;
                        }
                    }

                }
            }

            .list{
                @media(min-width: 1000px){
                    width: 100%;
                    margin: 0;
                }
                h2{
                    width: 36%;
                    margin-left: 5%;
                    margin-top: 12%;
                    color: $prussian-blue;
                    border-bottom: solid 2px $russian-violet;
                    font-size: 7vw;
                    font-weight: normal;

                    @media(min-width: 1000px){
                        margin: 5% 0 0;
                        width: 100%;
                        border-bottom: none;
                        color: $skobeloff;
                        text-align: center;
                        text-decoration: underline .3vw $russian-violet;
                    }
                }
                ul{
                    margin: 0 0 8%;
                    
                    @media(min-width: 1000px){
                        padding: 0 0 0 9%;
                    }

                    .listItemWrapper{
                        position: relative;
                        margin: 12% 0 0;
                        display: flex;
                        align-items: flex-end;

                        @media(min-width: 1000px){
                            align-items: center;;
                        }
                        
                        input[type=checkbox]{
                            position: relative;
                            cursor: pointer;
                            border: none;
                            
                            @media(min-width: 1000px){
                                width: 2vw;
                                height: 2vw;
                            }
                            &:before{
                                content: '';
                                display: block;
                                position: absolute;
                                top: -30%;
                                left: -12%;
                                width: 4vw;
                                height: 4vw;
                                background-color: $white;
                                border: solid $white 2.5px;
                                border-radius: 30%;
                                
                                @media(min-width: 1000px){
                                    width: 2.5vw;
                                    height: 2.5vw;
                                    border: solid $prussian-blue .4vw;

                                }
                            }
                            &:checked:after{
                                content: '';
                                display: block;
                                position: absolute;
                                top: -30%;
                                left: -12%;
                                width: 4vw;
                                height: 4vw;
                                background-color: $skobeloff;
                                border: solid $white 2.5px;
                                border-radius: 30%;
                                

                                @media(min-width: 1000px){
                                    width: 2.5vw;
                                    height: 2.5vw;
                                    background-color: $skobeloff;
                                    border: solid $prussian-blue .4vw;
                                }
                            }
                        }

                        li{
                            max-width: 100%;
                            padding-left: 5%;
                            color: $skobeloff;
                            font-size: 4.5vw;
                            list-style: none;

                            @media(min-width: 1000px){
                                padding-left: 3.5%;
                                font-size: 3vw;
                            }
                        }
                        
                    }
                }
            }

            form[action="/"]{
                display: flex;
                align-items: justify;
                
                input[type="text"]{
                    width: 75%;
                    background-color: transparent;
                    border: none;

                    color: $russian-violet;
                    font-size: 5vw;

                    @media(min-width: 1000px){
                        font-size: 4vw;
                    }

                    &::placeholder{
                        font-style: italic;
                    }

                    &:focus {
                        border-bottom: solid $white .8vw;
                        font-weight: bold;
                        outline: none;

                        @media(min-width: 1000px){
                            font-weight: 100;
                        }
                    }
                }

                button[type="submit"]{
                    padding-left: 5%;
                    background-color: transparent;
                    border: none;
                    color: $prussian-blue;
                    font-size: 10vw;

                    @media(min-width: 1000px){
                        color: $russian-violet;
                        padding: 0 3% 0 9%;
                        font-size: 8vw;
                    }
                }
            }
        }
    }

    .background-tri{
        position: absolute;
        width: 100%;
        bottom: -6%;
        height: 40vh;
        background-color: $russian-violet;
        clip-path: polygon(100% 0%, -60% 100%, 100% 100%);
        
        z-index: -1;

    }
    
    .mobile-only{
        @media(min-width:1000px){
            display: none;
        }
    }

    .desktop-only{
        display: none;
        @media(min-width: 1000px){
            display: block;
        }
    }
}