<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href=<%=style%> type="text/css">
    <link rel="icon" type="image/png" href="http://example.com/favicon.png">
</head>
<body>

    <div class="whiteboard-wrapper">
        <div class="whiteboard">
            <a href="/login">Log In</a>
            <a href="/createUser">Create User</a>
        </div>
    </div>
    <div class="background-tri mobile-only"></div>
    
</body>
</html>